<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto"
		  rel="stylesheet"/>
	<link rel="stylesheet" href="../../src/css/addRestaurant.css">
	<link rel="stylesheet" href="../../src/css/colors.css">
	<link rel="stylesheet" href="../../src/css/inputs.css">
	<script src="https://kit.fontawesome.com/bebd6569f1.js"
			crossorigin="anonymous"></script>
	<link rel="icon" href="../../images/logo192.png" type="image/png"/>
	<title>Registrar Restaurante</title>
</head>
<body>
<div class="wrapper">
	<header id="header" class="header">
		<h1>GourmetRace</h1>
	</header>
	<article class="main">
		<div class="restaurantForm">
			<div class="restaurantHeader">
				<h2 id="restaurantHeaderTitle">Registrar restaurante</h2>
			</div>
			<div class="restaurantBody">
				<form class="form-flex" id="restaurantForm" action="" onsubmit="return false">
					<label class="form-flex-row" for="nameInput">
						<i class="fas fa-store"></i>
						<input
								type="text"
								name="name"
								placeholder="Nombre"
								required
								id="nameInput"
						/>
					</label>
					<label class="form-flex-row" for="categoryInput">
						<i class="fas fa-utensils"></i>
						<select name="category" id="categoryInput" required>
						</select>
						<template id="template-category">
							<option value=""></option>
						</template>
					</label>
					<label class="form-flex-row" for="locationInput">
						<i class="fas fa-map-marker-alt"></i>
						<input
								type="text"
								name="location"
								placeholder="Ubicación"
								id="locationInput"
								class=""
								required
						/>
					</label>
					<label class="form-flex-row">
						<i class="fas fa-motorcycle"></i>
						<select name="serviceType" id="serviceTypeInput">
						</select>
						<template id="template-serviceType">
							<option value=""></option>
						</template>
					</label>
					<label for="radio-flex-flow" class="form-flex-row">
						<p>Rango de precio:</p>
						<div id="radio-flex-flow" class="radio-flex-row">
							<input type="radio" name="price" value="1" id="radio1"/>
							<input type="radio" name="price" value="2" id="radio2"/>
							<input type="radio" name="price" value="3" id="radio3"/>
						</div>
					</label>
					<div class="buttonSection">
						<input type="submit" value="Registrar" class="button-flex orange"/>
					</div>
				</form>
			</div>
		</div>
	</article>
</div>
<script src="../js/tools/jQuery.js"></script>
<script src="../js/tools/sweetalert.js"></script>
<script src="../js/connection/connection.js"></script>
<script src="../js/controller/addRestaurant.js"></script>
</body>
</html>
