<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<link rel="stylesheet" href="../css/main.css">
	<link href="../css/register.css" rel="stylesheet"/>
	<link href="../css/inputs.css" rel="stylesheet"/>
	<link href="../css/colors.css" rel="stylesheet"/>
	<script crossorigin="anonymous"
			src="https://kit.fontawesome.com/bebd6569f1.js"></script>
	<title>Editar perfil</title>
</head>
<body>
<div id="register">
	<div id="firstThird">
		<p class="whiteTxt" id="title">Editar perfil</p>
	</div>
	<div id="secondThird">
		<form action="" id="registerForm" onsubmit="return false">
			<div>
				<i></i>
				<input autofocus
					   class="normalInput textField whiteTxt underlinedTextField"
					   id="emailInput"
					   name="emailInput"
					   placeholder="Email"
					   required="required"
					   type="email"/>
			</div>
			<input class="normalInput textField whiteTxt underlinedTextField"
				   id="passwordInput"
				   max="100"
				   minlength="8"
				   name="passwordInput"
				   placeholder="Contraseña"
				   required="required"
				   type="password"/>
			<input class="normalInput textField whiteTxt underlinedTextField"
				   id="usernameInput"
				   name="usernameInput"
				   placeholder="Nombre de usuario"
				   required="required"
				   type="text"/>
			<input class="white invertWhite button normalInput"
				   id="registerButton2"
				   type="submit"
				   value="Editar"/>
		</form>
	</div>
	<div id="thirdThird">
		<input class="orange invertOrange button normalInput"
			   id="cancelButton"
			   type="button"
			   value="Cancelar"/>
	</div>
</div>
<script src="../js/tools/jQuery.js"></script>
<script src="../js/tools/sweetalert.js"></script>
<script src="/src/js/connection/connection.js"></script>
<script src="/src/js/model/commensal.js"></script>
<script src="/src/js/controller/editCommensal.js"></script>
</body>
</html>
