<link rel="stylesheet" href="src/css/login.css" title="login">
<script src="src/js/login.js"></script>

<div id="login">
	<div id="topHalf">
		<img src="images/fullLogo.png" id="fullLogo" alt="GourmetRace"/>
	</div>
	<div id="bottomHalf">
		<div id="verticalCenter">
			<form id="loginForm">
				<input type="email" id="emailInput" name="emailInput"
					   class="normalInput textField whiteTxt underlinedTextField"
					   placeholder="Email" required="required">
				<input type="password" id="passwordInput" name="passwordInput"
					   class="normalInput textField whiteTxt underlinedTextField"
					   placeholder="Contraseña" required="required">
			</form>
		</div>
		<div id="buttonSection">
			<input type="button" class="normalInput white invertWhite button" id="loginButton"
				   value="Iniciar Sesión">
			<input type="button" class="normalInput orange invertOrange button" id="registerButton"
				   value="Registrarse">
		</div>
	</div>
</div>