<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="#ff6c1d"/>
    <title>Gourmet Race</title>
    <link rel="apple-touch-icon" href="images/logo192.png"/>
    <link rel="stylesheet" href="../css/mainMenu.css"/>
    <link rel="icon" href="../images/logo192.png" type="image/png"/>
    <link
            href="https://fonts.googleapis.com/css?family=Roboto"
            rel="stylesheet"
    />
    <script
            src="https://kit.fontawesome.com/bebd6569f1.js"
            crossorigin="anonymous"
    ></script>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
</head>
<body>
<div class="wrapper">
    <header class="header">
        <img
                id="gourmet-race-logo"
                src="/images/logo192.png"
                alt="gourmet_race_logo"
                srcset=""
        />
        <h1>Gourmet Race</h1>
        <div class="topnav">
            <label>
                <input id="searchInput" type="text" placeholder="Search.."/>
            </label>
            <i class="fa fa-search"></i>
        </div>
    </header>

    <article class="main"></article>

    <template id="template-box">
        <div class="box">
            <div class="box-image-container">
                <img/>
            </div>
            <div class="box-text-container">
                <p class="restaurant-name"></p>
                <p class="restaurant-schedule"><i class="fas fa-clock"></i></p>
                <p class="restaurant-price"></p>
                <a class="restaurant-location"><i class="material-icons">location_on</i></a>
                <div class="rating">
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                </div>
            </div>
        </div>
    </template>
    <aside class="aside aside-1">
        <ul class="navOptions">
            <li><a target="_blank" href="editCommensal.html">Editar perfil</a></li>
            <li><a id="restaurantButton" href="addRestaurant.html">Registrar restaurante</a></li>
        </ul>
    </aside>
    <aside class="aside aside-2">
        <p id="p-categories">Categorias</p>
        <template id="template-categories">
            <ul class="navOptions categories">
                <li><a></a></li>
            </ul>
        </template>
    </aside>
    <footer class="footer">Developed by DTv2</footer>
    <script src="../js/tools/jQuery.js"></script>
    <script src="../js/tools/sweetalert.js"></script>
    <script src="../js/connection/connection.js"></script>
    <script src="../js/controller/mainMenu.js"></script>
</div>
</body>
</html>
