<link rel="stylesheet" href="src/css/mainMenu.css">
<div class="wrapper">
	<header class="header">
		<h1>Gourmet Race</h1>
	</header>
	<article class="main">
		<div class="box">

			<img src="images/img3.jpg" alt="Paisaje">
		</div>
		<div class="box">
			<img src="images/img1.jpg" alt="Paisaje">
		</div>
		<div class="box">
			<img src="images/img2.jpg" alt="Paisaje">
		</div>
	</article>
	<aside class="aside aside-1">
		<ul>
			<li><a>Editar perfil</a></li>
			<li><a>Restaurante</a></li>
			<li><a>Mis ofertas</a></li>
			<li><a>Favoritos</a></li>
			<li><a>Preferencias</a></li>
		</ul>
	</aside>
	<aside class="aside aside-2">
		<a>Hola</a>
	</aside>
	<footer class="footer">
		Footer
	</footer>
</div>
