<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/viewReport.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <title>Reporte de vistas</title>
    
</head>
<body>
    <header class="header"> <h1>GourmetRace</h1> </header>
    <article class="main">
        <p id="report-title" class="report-title"></p>
        <p id="view-number"></p>
    </article>
    
    <div class="container">
        <canvas id="myChart" max-width="250" max-height="250"></canvas>
    </div>
    <script src="../js/tools/sweetalert.js"></script>
    <script src="../js/connection/connection.js"></script>
    <script src="/src/js/controller/viewReport.js"></script>    
</body>
</html>