:root {
	--orange-color: #ff6c1d;
	--blue-color: #1e74f5;
}

.white {
	background-color: white;
	color: var(--orange-color);
}

.white:hover{
	background-color: var(--orange-color);
	color: white;
}

.invertWhite:hover {
	background-color: var(--orange-color);
	color: white;
}

.whiteTxt {
	color: white;
}

.orange {
	background-color: var(--orange-color);
	color: white;
}

.orange:hover{
	background-color: white;
	color: var(--orange-color);
}

.invertOrange:hover {
	background-color: white;
	color: var(--orange-color);
}


.orangeTxt {
	color: var(--orange-color);
}