.white {
	background-color: white;
	color: #ff6c1d;
}

.invertWhite:hover {
	background-color: #ff6c1d;
	color: white;
}

.whiteTxt {
	color: white;
}

.orange {
	background-color: #ff6c1d;
	color: white;
}

.invertOrange:hover {
	background-color: white;
	color: #ff6c1d;
}


.orangeTxt {
	color: #ff6c1d;
}