.normalInput {
	border: none;
	border-radius: 2px;
	font-family: "DejaVu Sans";
	height: 2em;
	display: block;
	transition: 0.5s;
}

.normalInput:focus {
	outline: none;
	transition: 0.5s;
}

.textField {
}

.textField:focus {
}

.button {
}