* {
    box-sizing: border-box;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
